html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

input[type=text] {
  width: 100%;
  padding: 1em 2em;
  margin: 0.5em 0;
  box-sizing: border-box;
}

.container__section {
  padding: 0 1em;
}

.home-title {
  padding: 10px 0;
  background: #2e3f7c;
  text-align: center;
}

.home-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.home-item {
  padding: 0 10px 20px;
}

.home-item__title {
  border-bottom: 1px solid #dedede;
}

.item__sort-option {
  padding-right: 1em;
}

.create-item {
  background-color: #5d75ac;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

.save-item {
  background-color: #3d9f2c;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

.posts-save,
.comments-save,
.edit-post-details,
.edit-comment-details,
.create-post-details,
.create-comment-details {
  padding-top: 1em;
}

.comments-save {
  padding-left: 0.5em;
}

.container__return {
  padding: 1em 0.5em;
  background: #2e3f7c;
  width: 100%;
  color: white;
  text-decoration: none;
}

.container__return:active,
.container__return:hover {
  padding: 1em 0.5em;
  background: #2e3f7c;
  width: 100%;
  color: white;
}

.container__return spam {
  padding-left: 1em;
}

.category-datails__name {
  padding: 10px 10px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
}
